.brand-link .brand-image {
	margin: 0 !important;
	width: 100% !important;
	border-radius: 0;
	max-height: 100% !important;
}

.brand-link .brand-text {
	display: block !important;
	clear: both !important;
}

@media screen and (max-width: 992px) {
	div.dataTables_wrapper>.row>div[class^="col-"] {
		/*padding: 0;*/
	}
	.content-header {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.content {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	div.dataTables_info {
		text-align: center !important;
	}
	.dataTables_wrapper .dataTables_paginate .pagination {
		justify-content: center !important;
	}
}
@media screen and (max-width: 767px) {
	div.dataTables_length {
	    text-align: left !important;
	}
	div.dt-buttons {
		text-align: right !important;
	}
}
@media screen and (max-width: 575px) {
	div.dataTables_length, div.dt-buttons {
	    text-align: center !important;
	}
}

div.dataTables_info {
	padding-top: 5px !important;
}
.dataTables_wrapper .dataTables_paginate .pagination {
	/*margin-top: 12px !important;*/
	/*justify-content: center !important;*/
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
	padding: 0 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  	border-color: transparent !important;
  	background: none !important;
}
/*.dataTables_filter {
	display: none;
}*/
/*.dt-buttons {
	width: 100%;
	flex: 1 1 0px;
}
.dt-buttons > * {
	flex: 1 !important;
}*/
.icon-export, .icon-c {
	font-size: 1.22em;
	vertical-align: text-bottom;
}
table.dataTable {
	width: 100% !important;
	margin-top: 10px !important;
	margin-bottom: 0 !important;
}
div.dataTables_wrapper>div:first-child.row>div[class^="col-"]:first-child {
	/*padding: 0;*/
}
div.dataTables_wrapper>div:first-child.row>div[class^="col-"]:last-child {
	/*padding: 0;*/
}
.table.dataTable thead, tbody {
	text-align: center;
}

.dtr-control {
	vertical-align: middle !important;
}




.filters {
	margin-top: 18px !important;
}

@media screen and (max-width: 575px) {
    /*li.paginate_button.previous a {
    	position: relative;
	  	visibility: hidden;
	  	padding-left: 0;
	    padding-right: 0;
	    width: 30px;
	    overflow: hidden;
	}
    li.paginate_button.previous a:after {
    	visibility: visible;
    	position: absolute;
    	right: 8px;
        content: '<';
    }
    li.paginate_button.next a {
    	position: relative;
	  	visibility: hidden;
	  	padding-left: 0;
	    padding-right: 0;
	    width: 30px;
	    overflow: hidden;
	}
    li.paginate_button.next a:after {
    	visibility: visible;
    	position: absolute;
    	left: 8px;
        content: '>';
    }*/
 
    
   	li.paginate_button.previous {
        /*display: inline;*/
        display: none;
    }
    li.paginate_button.next {
        /*display: inline;*/
        display: none;
    }
    li.paginate_button {
        /*display: none;*/
    }
}


.navbar-nav>.user-menu>.dropdown-menu>.user-body {
	padding: 10px !important;
}